body {
    margin: 0;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 8px;
    
}